/*  */
.bR {
	border: 1px solid tomato;
}

.bB {
	border: 1px solid cyan;
}

.bG {
	border: 1px solid lime;
}

/* Utility Classes Section Start */
.mt-130 {
	margin-top: 130px;
}

.h-100vh {
	height: 100vh;
}

.w-60 {
	width: 60%;
}

.pl-80 {
	padding-left: 80px;
}

.pr-80 {
	padding-right: 80px;
}

.pt-100 {
	padding: 100px 0;
}

.pb-100 {
	padding: 100px 0;
}

.fs-18 {
	font-size: 18px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

/* Utility Classes Section End */
/*  */
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(29, 29, 29, 0.7);
	z-index: 1;
}

.carousel-item {
	min-height: 300px;
}

.carousel-caption {
	z-index: 2;
}

.explore-section-bg-color {
	background-color: #F4FAFD;
}



footer .container-fluid {
	background-color: #161616;
}

footer .social-icons ul li {
	padding: 10px;
	background-color: #242424;
}